* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*Padronizando Tags de acordo com o figma*/
body {
    background-color: #F2F2F2;
    max-width: 144rem;
    margin: 0 auto;
    /* Margins automaticas para esquerda e direita o navegador vai calcular automaticamente */
    min-height: 100vh;
    padding: 0rem 2rem 0rem 2rem;

}